@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}
input:focus + .error-input {
  display: none;
}
