.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
