@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset";
@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #232323;
  }
}
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.text-primary {
  color: #a4d96c;
}
.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.home-block {
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}
.entry-content {
  font-size: 16px;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
